aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alembic==1.18.5
altgraph==0.17.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
APScheduler==3.9.1
apt-clone==0.2.1
apturl==0.5.2
argcomplete==3.5.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
argos-translate-files==1.3.0
argostranslate==1.9.6
arrow==1.3.0
asgiref==3.9.2
astor==0.8.1
asttokens==3.0.0
async-generator==1.10
async-lru==2.0.5
async-timeout==4.0.3
attrs==25.4.0
Authlib==1.7.2
babel==2.17.0
backoff==2.2.1
bcc==0.18.0
bcrypt==4.3.0
beautifulsoup4==4.9.3
bleach==6.2.0
blinker==1.9.0
Brlapi==0.8.3
Brotli==1.0.9
build==1.3.0
cachelib==0.13.0
cachetools==5.5.2
catfish==4.16.4
ccsm==0.9.14.1
certifi==2026.1.4
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.4
chroma-hnswlib==0.7.3
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.3
command-not-found==0.3
commonmark==0.9.1
compizconfig-python==0.9.14.1
configobj==5.0.6
contourpy==1.3.2
cryptography==45.0.5
cssselect==1.3.0
cssselect2==0.8.0
cssutils==2.11.1
ctranslate2==4.6.0
cupshelpers==1.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dataclasses-json==0.6.7
dbus-fast==2.44.1
dbus-python==1.2.18
deap==1.4.3
debugpy==1.8.16
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.18
detect-installer==0.1.0
distro==1.7.0
dnspython==2.8.0
docutils==0.22.3
durationpy==0.10
effdet==0.4.1
einops==0.8.1
email-validator==2.3.0
emoji==2.15.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
expiringdict==1.2.2
eyeD3==0.8.10
faiss-cpu==1.12.0
Farama-Notifications==0.0.4
fastapi==0.118.0
fastapi-cli==0.0.27
fastapi-cloud-cli==0.21.0
fastar==0.11.0
fastjsonschema==2.21.2
ffmpeg==1.4
fido2==0.9.1
filelock==3.20.1
filetype==1.2.0
Flask==2.2.5
flask-babel==3.1.0
flask-cors==6.0.2
Flask-Limiter==2.6.3
Flask-Login==0.6.3
Flask-Session==0.4.0
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
flatbuffers==25.2.10
flet==0.81.0
fonttools==4.61.1
fqdn==1.5.1
frida==17.2.17
frida-tools==14.4.5
frozenlist==1.7.0
fsspec==2025.12.0
ftfy==6.3.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
GPUtil==1.4.0
greenlet==3.2.3
groq==1.0.0
grpcio==1.74.0
gymnasium==1.2.0
gyp==0.1
h11==0.16.0
hf-xet==1.1.10
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
humanfriendly==10.0
idna==3.11
ifaddr==0.1.7
imagesize==1.4.1
IMDbPY==2021.4.18
img2pdf==0.4.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
iopath==0.1.10
ipykernel==6.30.1
ipython==8.37.0
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.6.2
jaxlib==0.6.2
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.1
joserfc==1.7.3
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kazam==1.4.5
keyring==23.5.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kiwisolver==1.4.9
kubernetes==33.1.0
langdetect @ file:///home/yonatan/pyp/langdetect-1.0.9.tar.gz
langsmith==0.1.147
language-selector==0.1
lark==1.2.2
launchpadlib==1.10.16
layoutparser==0.3.4
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
LexiLang==1.0.6
limits==5.5.0
looseversion==1.3.0
louis==3.20.0
lxml==6.0.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
menulibre==2.2.2
mistune==3.1.4
ml_dtypes==0.5.3
mmh3==5.2.0
more-itertools==8.10.0
Morfessor==2.0.6
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.2
mugshot==0.4.3
multidict==6.6.3
mutagen==1.45.1
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
neat-python==0.92
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.2
notebook==7.4.5
notebook_shim==0.2.4
numpy==1.26.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.3.1
ocrmypdf==13.4.0+dfsg
olefile==0.47
omegaconf==2.3.0
onboard==1.4.1
onnxruntime==1.22.1
opencv-contrib-python==4.10.0.84
opencv-python==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0
opt-einsum==3.3.0
orjson==3.11.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==25.0
paddle-bfloat==0.1.7
paddleocr==3.1.0
paddlepaddle==2.5.1
paddlex==3.1.3
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.5
pdf2image==1.17.0
pdfkit==1.0.0
pdflatex==0.1.3
pdfminer.six===-VERSION-
pdfplumber==0.11.7
pexpect==4.8.0
pikepdf==5.0.1+dfsg
pillow==11.3.0
platformdirs==4.4.0
pluggy==0.13.0
polib==1.1.1
portalocker==3.2.0
posthog==5.4.0
premailer==3.10.0
prettytable==3.16.0
prometheus-client==0.15.0
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.31.1
proton-core==0.7.3
proton-keyring-linux==0.2.1
proton-vpn-api-core==4.14.1
proton-vpn-cli==0.1.3
proton-vpn-daemon==0.13.4
psutil==5.9.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure_eval==0.2.3
pwdlib==0.3.0
py-cpuinfo==9.0.0
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pybase64==1.4.2
pycairo==1.20.1
pyclipper==1.3.0.post6
pycocotools==2.0.10
pycparser==2.22
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydyf==0.12.1
pyelftools==0.27
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.2
PyGObject==3.42.1
PyICU==2.8.1
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynvim==0.4.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
pypdf==4.2.0
pypdfium2==4.30.0
pyperclip==1.9.0
pyphen==0.17.2
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt6==6.10.1
PyQt6-Qt6==6.10.1
PyQt6_sip==13.10.3
PyRect==0.2.0
pyRFC3339==1.1
PyScreeze==1.0.1
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
PySocks==1.7.1
pysrt==1.1.2
pytesseract==0.3.13
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.1
python-gnupg==0.4.8
python-iso639==2025.2.18
python-json-logger==3.3.0
python-magic==0.4.24
python-multipart==0.0.32
python-oxmsg==0.0.2
python3-xlib==0.15
pytweening==1.2.0
pytz==2025.2
pyxdg==0.27
PyYAML==6.0.3
pyzbar==0.1.9
pyzmq==27.1.0
qrcode==7.3.1
rank-bm25==0.2.2
RapidFuzz==3.14.1
redis==4.4.4
referencing==0.36.2
regex==2025.9.1
repath==0.9.0
reportlab==3.6.8
requests==2.32.5
requests-file==1.5.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rich-toolkit==0.20.1
rignore==0.7.6
rpds-py==0.27.0
rsa==4.9.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
sacremoses @ file:///home/yonatan/pyp/sacremoses-0.0.53.tar.gz
safetensors==0.6.2
scapy==2.7.0
scikit-learn==1.7.1
scipy==1.15.3
scour==0.38.2
sdkmanager==0.6.11
SecretStorage==3.3.1
selenium==4.40.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.63.0
setproctitle==1.2.2
shapely==2.1.1
shellingham==1.5.4
shiboken6==6.10.2
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.3.1
SQLAlchemy==2.0.41
sqlmodel==0.0.39
stack-data==0.6.3
stanza==1.1.1
starlette==0.48.0
style==1.1.0
sympy==1.14.0
systemd-python==234
Telethon==1.42.0
tenacity==8.5.0
terminado==0.18.1
tesserocr==2.8.0
threadpoolctl==3.6.0
tiktoken==0.9.0
timm==1.0.17
tinycss2==1.5.1
tinyhtml5==2.0.0
tldextract==3.1.2
tokenizers==0.15.2
tomli==2.2.1
torchvision==0.22.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
translatehtml==1.5.2
trio==0.32.0
trio-typing==0.10.0
trio-websocket==0.12.2
triton==3.3.1
typer==0.16.0
types-certifi==2021.10.8.3
types-python-dateutil==2.9.0.20250822
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ufw==0.36.1
ujson==5.10.0
Unidecode==1.3.3
unstructured==0.18.15
unstructured-client==0.42.3
update==0.0.1
uri-template==1.3.0
urllib3==2.6.3
uvicorn==0.35.0
uvloop==0.21.0
wadllib==1.3.6
waitress==2.1.2
watchfiles==1.1.0
wcwidth==0.2.13
weasyprint==68.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==2.3.8
wrapt==1.17.3
wsproto==1.3.2
wxPython==4.0.7
xdg==5
xkit==0.0.0
yarl==1.20.1
youtube-transcript-api==1.2.3
yt-dlp==2026.3.17
yt-dlp-ejs==0.3.2
zipp==3.23.0
zopfli==0.4.0
zstandard==0.23.0
